.header{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background-color: white;
    background: white;
}
.users{
    position: relative;
    left: 23%;
    top: 30%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.374px;

    /* Primary blue/500 */

    color: #295AA9;

}
.left{
    position: relative;
    left: 79.79%;
    /* right: 18.82%; */
    top: 0;
}
.left1{
    position: relative;
    left: 82.85%;
    top: -24.5%;

}
.profile{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 9px;

    position: absolute;
    left: 85.9%;
    right: 3.33%;
    top: 25.81%;
    bottom: 25.81%;
}
.nametag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 101px;
    height: 45px;
}
.span1{
    width: 101px;
height: 24px;

font-family: 'Lato';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height */

letter-spacing: 0.374px;

/* Neutral/800 */

color: #3A3F47;


}
.span2{
    width: 81px;
height: 17px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.374px;

/* Neutral/700 */

color: #616976;

}
.profileimg{
    width: 45px;
    height: 45px;

}